html {
    height: 100%;
}

body {
    size: 100%;
    margin: 0;
    background: linear-gradient(160deg, #95ccc5, #2e5668);
}

.card {
    background-color: #ffeaac;
    font-family: 'Baloo', sans-serif;
    box-shadow: 10px 10px 10px #2e5668;
    color:  #2e5668;
}

.modal-content {
    background-color: #ffeaac;
    font-family: 'Baloo', sans-serif;
    color:  #2e5668;
}

.modal-content button{
    background-color: #2e5668;
    font-family: 'Baloo', sans-serif;
    color:  #ffeaac ;
}

.form-control {
    color: #2e5668;
}

.form-control:focus {
    color: #2e5668;
    border-color: white;
}

.buton{
    width: 90%;
    height: 45px;
    margin: 5px;
    box-shadow: 5px 5px 5px #2e5668;
}

